.navItem {
    font-weight: 600;
    min-height: 100%;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #b3b3b3;
}

.navItem:hover {
    color: #6495ed;
}


.active {
    color: cornflowerblue;
}

