.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
}

.inputModal {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  textarea {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    min-width: 100%;
    margin: 10px 0;
    padding: 10px 20px;
    transition: border 0.3s ease;
    border: #BBC1E1 solid 2px;
    border-radius: 10px;
    outline: none;
    resize: vertical;
    min-height: 50px;
    max-height: 200px;
    :focus {
      border-color: cornflowerblue;
    }

    ::placeholder {
      font-family: "Open Sans", sans-serif;
      color: #BBC1E1;
    }
  }

}
