.logOut {
    height: 60px;
    border-bottom: 1px solid #b3b3b3;
    box-sizing: border-box;
    display: flex;
    justify-content: end;
}

.logIn {
    height: 60px;
    border-bottom: 1px solid #b3b3b3;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.links {
    min-width: 150px;
    display: flex;
    justify-content: space-between;
}