.login {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 150px;
}

.login form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}

.login button {
    margin: 10px 5px;
}

.loading {
    color: darkorange;
}

.checkbox {
    border: #BBC1E1 solid 2px;
}

.infoTextRed {
    transition: border 0.3s ease;
    border: #ff4d4d solid 2px;
    border-radius: 999px;
    font-family: "Open Sans", sans-serif;
    color: #ff4d4d;
    padding: 10px 20px;
    margin-top: 10px;
}