.table {
  border-collapse: collapse;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  width: 100%;
  &__loading {
    color: #b3b3b3;
  }
  &__row_header {
    box-sizing: border-box;
    height: 60px;
    text-align: left;
    background-color: cornflowerblue;
    color: white !important;
  }
  &__row_data {
    box-sizing: border-box;
    height: 50px;
    border-bottom: 1px solid #e6e6e6;
    &:hover {
      background-color: #d5deed;
    }
  }
}
