.table {
  &__row_header {
    display: flex;
    border-bottom: 10px solid;
    background-color: cornflowerblue;
    color: white;
  }
  &__row_data {
    display: flex;
    border-bottom: 1px solid;
  }
}
