.register {
    min-height: calc(100vh - 61px);
    display: flex;
    justify-content: center;
    position: relative;
}

.register__container {
    background-color: #FAFBFC;
    padding: 15px;
    width: 1000px;
    display: flex;
    justify-content: center;
    height: inherit;
}

.register__form {
    min-width: 50%;
}

.register__form > button {
    margin-top: 10px;
}

.register__inputs {
    display: flex;
    flex-direction: column;
}
.register__inputs > div {
    position: relative;
    margin-top: 10px;
}
.register__inputs_error {
    position: absolute;
    bottom: -5px;
    right: 15px;
    font-weight: 600;
    font-size: 12px;
    color: #ff4d4d;
}
.register__error {
    text-align: center;
    color: #ff4d4d;
}
