.register {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 61px);
    &__container {
        display: flex;
        justify-content: center;
        width: 1000px;
        height: inherit;
        padding: 0 15px;

    }
    &__form {
        min-width: 40%;
        margin-top: 20px;
        text-align: center;
        .register__title {
        }
        .register__inputs {
            display: flex;
            flex-direction: column;
            text-align: left;
        }
        .register__buttons {
            margin: 25px 0;
            > button {
                margin-left: 10px;
            }
        }
    }
}

.register__error {
    font-family: "Open Sans", sans-serif;
    margin-top: 10px;
    padding: 10px 20px;
    color: #ff4d4d;
    border: #ff4d4d solid 2px;
    border-radius: 999px;
}

.register__loading {
    color: darkorange;
    border-radius: 999px;
    font-family: "Open Sans", sans-serif;
    padding: 10px 20px;
    margin-top: 10px;
}
