.profile {
    min-height: calc(100vh - 61px);
    display: flex;
    justify-content: center;
    position: relative;
}

.profile__container {
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: inherit;
}
.profile__info {
    text-align: center;
    margin-top: 20px;
    width: 50%;
}
.profile__info > table {
    text-align: left;
    min-width: 100%;
}
.profile__buttons {
    margin-top: 20px;
}
