.btn_open {
  min-height: 50px;
  border: none;
  outline: none;
  background-color: #a4ade0;
  cursor: pointer;
  transition: background-color 0.4s ease;
  > img {
    height: 40px;
  }

  &:hover {
    color: white;
    background-color: cornflowerblue;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: #B2B2B2;
  }
}
