.button {
  min-height: 50px;
  border: none;
  outline: none;
  background-color: #a4ade0;
  cursor: pointer;
  transition: background-color 0.4s ease;
  > img {
    height: 40px;
  }

  &:hover {
    color: white;
    background-color: cornflowerblue;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    background-color: #B2B2B2;
  }
}

.button.green {
  min-height: 50px;
  border: none;
  outline: none;
  background-color: #8fb38f;
  cursor: pointer;
  transition: background-color 0.4s ease;
  > img {
    height: 40px;
  }

  &:hover {
    color: white;
    background-color: #00b300;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    background-color: #B2B2B2;
  }
}



.button.red {
  min-height: 50px;
  border: none;
  outline: none;
  background-color: #ffb3b3;
  cursor: pointer;
  transition: background-color 0.4s ease;
  > img {
    height: 40px;
  }

  &:hover {
    color: white;
    background-color: #ff4d4d;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    background-color: #B2B2B2;
  }
}